<div class="bg-natural">
  <div class="mx-32 lg:mx-64">
    <h1 class="text-6xl font-thin mb-10 pb-5 border-b-2 border-dark-black text-dark-black">Trivia</h1>
    <div class="flex justify-between mx-64 my-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_mornings_re_cofi.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black font-thin ml-10">
        <h1 class="text-2xl mb-5 pb-3">Essence</h1>
        <p class="text-lg">エビデンスがあることで少しでも信憑性が上がればと思います。多くのことはロジックベースだけでは受け入れられないこともあるでしょう。ですがその手助けに少しでもなればと思います。</p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <% @trivia.each do |t| %>
      <div class="bg-white mb-20 mx-10 rounded-md shadow-inner">
        <div class="flex justify-around mt-8 mb-2">
          <h1 class="border-b-2 border-dark-black text-lg"><%= t.title %></h1>
          <div class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full bg-gray-100 text-dark-black border hover:text-white hover:bg-dark-black focus:text-white focus:bg-dark-black">
            <div class="mr-2">
              <i class="fas fa-tag"></i>
            </div>
            <%= t.tag %>
          </div>
        </div>
        <div class="m-8 text-sm">
          <%= t.description %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mx-32 lg:mx-64">
    <h1 class="text-6xl font-thin mb-10 pb-5 border-b-2 border-dark-black text-dark-black">Philosophy</h1>
    <div class="flex justify-between mx-64 my-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_mornings_re_cofi.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black font-thin ml-10">
        <h1 class="text-2xl mb-5 pb-3">Essence</h1>
        <p class="text-lg">エビデンスがあることで少しでも信憑性が上がればと思います。多くのことはロジックベースだけでは受け入れられないこともあるでしょう。ですがその手助けに少しでもなればと思います。</p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <% @trivia_philosophy.each do |t| %>
      <div class="bg-white mb-20 mx-10 rounded-md shadow-inner">
        <div class="flex justify-around mt-8 mb-2">
          <h1 class="border-b-2 border-dark-black text-lg"><%= t.title %></h1>
          <div class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full bg-gray-100 text-dark-black border hover:text-white hover:bg-dark-black focus:text-white focus:bg-dark-black">
            <div class="mr-2">
              <i class="fas fa-tag"></i>
            </div>
            <%= t.tag %>
          </div>
        </div>
        <div class="m-8 text-sm">
          <%= t.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>
