<div class="flex justify-between">
  <div class="my-8">
    <h3 class="text-4xl text-dark-black mb-2 font-thin"><%= l diary.created_at, format: :day %></h3>
    <div class="bg-white rounded-full h-10 w-10 flex items-center justify-center relative">
      <h4 class="text-lg text-dark-black font-thin"><%= l diary.created_at, format: :day_of_week %></h4>
      <%= render 'diaries/wday', object: diary %>
    </div>
    <h3 class="text-lg text-dark-black font-thin"><%= l diary.created_at, format: :year_month %></h3>
  </div>
  <div class="p-8 w-full">
    <div class="bg-white rounded-3xl relative">
      <div class="py-16 w-auto mx-20">
        <%= render 'diaries/medal', object: diary %>
        <div class="mt-8 text-center">
          <%= render 'diaries/content_title', object: diary %>
        </div>
        <div class="bg-white rounded">
          <%= render 'diaries/progressbar', object: diary %>
          <p class="text-sm text-center text-dark-black font-thin">Creativity</p>
        </div>
        <div class="flex justify-center mt-5">
          <%= render 'shared/sentiment_select', object: diary %>
        </div>
      </div>
    </div>
  </div>
</div>
