<div class="col-span-2 lg:col-span-1 m-8">
  <h3 class="text-4xl text-matte mb-2 font-thin"><%= l diary.created_at, format: :day %></h3>
  <div class="bg-white rounded-full h-10 w-10 flex items-center justify-center relative">
    <h4 class="text-lg text-matte font-thin"><%= l diary.created_at, format: :day_of_week %></h4>
    <%= render 'diaries/wday', object: diary %>
  </div>
  <h3 class="text-lg text-matte font-thin"><%= l diary.created_at, format: :year_month %></h3>
</div>
<div class="p-8 col-span-10 lg:col-span-5">
  <div class="bg-white rounded-3xl relative">
    <div class="p-16">
      <%= render 'diaries/medal', object: diary %>
      <div class="mt-8 text-center">
        <%= render 'diaries/content_title', object: diary %>
      </div>
      <div class="bg-white rounded">
      <%= render 'diaries/progressbar', object: diary %>
      <p class="text-sm text-center text-matte font-thin">Creativity</p>
      </div>
    </div>
  </div>
</div>
