<%= form_with model: diary, local: true do |f| %>
<div class="flex justify-between mb-5 px-20 lg:px-64">
  <div class="flex justify-start">
    <%= render 'shared/back_button' %>
    <h1 class="text-4xl text-matte"><%= t '.subtitle' %></h1>
  </div>
  <%= button_tag type: 'submit', class: "text-6xl text-amber hover:opacity-75 offset-2" do %>
    <i class="fab fa-telegram-plane"></i>
  <% end %>
</div>
<div class="px-20 lg:px-64 flex justify-start text-matte">
  <i class="fas fa-question-circle text-xl m-2 pr-2"></i>
  <p class="text-md mt-1">最大３つまで選択できます。</p>
</div>
<section class="grid grid-cols-3 lg:grid-cols-6 gap-4 mx-auto xl:mx-64 text-center">
  <%= f.collection_check_boxes :sentiment_ids, Sentiment.all, :id, :name do |t| %>
    <% if ["激怒", "怒り", "苛立ち"].include?(t.text)  %>
      <%= t.label(class: "relative bg-baby-pink text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-3xl rounded-tr-2xl rounded-bl-2xl rounded-br-3xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-baby-pink text-agate rounded-full") + t.text } %>
    <% elsif ["警戒", "予期", "関心"].include?(t.text) %>
      <%= t.label(class: "relative bg-apricot text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-2xl rounded-tr-3xl rounded-bl-3xl rounded-br-2xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-apricot text-marigold rounded-full") + t.text } %>
    <% elsif ["夢心地", "喜び", "平穏"].include?(t.text) %>
      <%= t.label(class: "relative bg-honey text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-3xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-honey text-maize rounded-full") + t.text } %>
    <% elsif ["尊い", "信頼", "容認"].include?(t.text) %>
      <%= t.label(class: "relative bg-opal-green text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-xl rounded-tr-3xl rounded-bl-3xl rounded-br-2xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-opal-green text-jade-green rounded-full") + t.text } %>
    <% elsif ["恐れ", "心配", "不安"].include?(t.text) %>
      <%= t.label(class: "relative bg-sea-green text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-xl rounded-tr-3xl rounded-bl-2xl rounded-br-2xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-sea-green text-bottle-green rounded-full") + t.text } %>
    <% elsif ["驚愕", "驚き", "動揺"].include?(t.text) %>
      <%= t.label(class: "relative bg-sea-blue text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-2xl rounded-tr-xl rounded-bl-2xl rounded-br-3xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-sea-blue text-bottle-blue rounded-full") + t.text } %>
    <% elsif ["悲劇", "悲しみ", "感傷"].include?(t.text) %>
      <%= t.label(class: "relative bg-moss-blue text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-3xl rounded-tr-2xl rounded-bl-xl rounded-br-3xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-moss-blue text-night-blue rounded-full") + t.text } %>
    <% elsif ["憎む", "嫌悪", "退屈"].include?(t.text) %>
      <%= t.label(class: "relative bg-lilac text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-xl rounded-tr-3xl rounded-bl-3xl rounded-br-2xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-lilac text-violet rounded-full") + t.text } %>
    <% else %>
      <%= t.label(class: "relative bg-gray-200 text-matte py-3 px-5 mx-20 my-5 lg:m-5 xl:m-8 rounded-tl-3xl rounded-tr-2xl rounded-bl-2xl rounded-br-3xl"){ t.check_box(class: "absolute inset-0 focus:ring-0 border-gray-200 text-gray-400 rounded-full") + t.text } %>
    <% end %>
  <% end %>
</section>
<%= f.hidden_field :title %>
<%= f.hidden_field :text %>
<% end %>

<script>
$(function() {
  $('input[name="diary[sentiment_ids][]"]').change(function() {
    var len = $('input[name="diary[sentiment_ids][]"]:checked').length;
    if (len >= 3) {
      $('input[name="diary[sentiment_ids][]"]').not(':checked').attr('disabled', 'disabled');
    } else {
      $('input[name="diary[sentiment_ids][]"]').not(':checked').removeAttr('disabled');
    }
  });
});
</script>
