<%= render 'shared/error_messages', model: f.object %>
<div class="mb-4">
  <div class="flex justify-between mb-5">
    <div class="flex justify-start">
      <%= render 'shared/back_button' %>
      <h1 class="text-4xl text-dark-black"><%= t "diaries.new.title" %></h1>
    </div>
    <%= button_tag type: 'submit', class: "text-6xl text-amber hover:opacity-75 offset-1" do %>
      <i class="fab fa-telegram-plane"></i>
    <% end %>
  </div>
  <%= f.text_field :title, class: "bg-white border-natural rounded-lg w-full mb-4 py-2 px-3 text-dark-black shadow-inner focus:border-natural focus:ring focus:ring-natural font-thin placeholder-gray-300", placeholder: "タイトル（最後に決めるのをおすすめします）", value: @write %>
  <%= f.text_area :text, class: "bg-white border-natural rounded-lg w-full h-64 py-2 px-3 text-dark-black shadow-inner focus:border-natural focus:ring focus:ring-natural font-thin placeholder-gray-300", onkeyup: "ShowLength(value);" %>
  <!--プログレスバー文字数-->
  <div class="relative pt-1">
    <div class="overflow-hidden h-5 mb-4 text-xs flex rounded bg-gray-50 shadow-inner">
      <div id="stylewidth" style="width:<%= @diary.creativity %>%" class="shadow-inner flex flex-col text-center whitespace-nowrap text-white justify-center bg-amber"></div>
    </div>
    <span class="absolute right-0 text-dark-black font-thin" id="inputpercentage"><%= @diary.creativity %>％</span>
    <span class="absolute left-0 text-dark-black font-thin" id="inputlength"><%= @diary.word_count %>文字</span>
  </div>
</div>

<!-- 複数チェックボックス 選択制限 未実装 -->
<script>
var limit =3; //チェックできる数
Flag = new Array(); //チェックの有無を格納する配列

function Climit(){
  var v=0; //チェックの合計
  var Myname = document.getElementsByName("diary[sentiment_ids][]");// 指定したnameの要素をすべて取得
for (i=0; i<Myname.length; i++){
    Flag[i]=i; // 配列Flagを初期化
if(Myname[i].checked){Flag[i]="chk"; // チェックが入っていれば文字列 "chk" を代入
v++;}//チェックの合計数を 1 増やします
   }

if(v>=limit){ //チェックの合計数が制限数になれば
for (i=0; i<Myname.length; i++){
if(Flag[i]=="chk"){Myname[i].disabled =false;}
else{Myname[i].disabled = true;}
 }
}
else{for (i=0; i<Myname.length; i++)
Myname[i].disabled =false;}
}
</script>

