<div class="rounded-lg m-5 p-5 text-center bg-pink-white">
  <% if Time.current.hour > 5 && Time.current.hour < 11  %>
    <h1 class="text-xl lg:text-sm text-matte mb-2"><%= t '.hello_morning' , username: current_user.username %></h1>
  <% elsif Time.current.hour > 12 && Time.current.hour < 18 %>
    <h1 class="text-xl lg:text-sm text-matte mb-2"><%= t '.hello_noon' , username: current_user.username %></h1>
  <% else %>
    <h1 class="text-xl lg:text-sm text-matte mb-2"><%= t '.hello_night' , username: current_user.username %></h1>
  <% end %>
  <h2 class="text-xl lg:text-sm text-matte mb-2 font-thin"><%= t '.today', today: I18n.l(Date.today, format: :long) %></h2>
  <div class="rounded-lg py-3 mb-2 text-matte bg-white hover:bg-blue-300 shadow-inner relative">
  <%= link_to new_diary_path(title: @write.title), remote: true do %>
    <div class="flex justify-center">
      <div class="mr-5 text-2xl">
        <i class="fas fa-check"></i>
      </div>
      <div class="text-xl lg:text-sm text-matte font-thin"><%= @write.title %></div>
     </div>
    <%= link_to root_path do %>
      <div class="absolute right-3 bottom-3 text-2xl rouded-lg text-amber">
        <i class="fas fa-random"></i>
      </div>
    <% end %>
  <% end %>
  </div>
  <p class="text-right text-sm lg:text-xs text-matte font-thin">書きたい内容を見つけて見ましょう。</p>
</div>
