<div class="bg-white rounded px-8 pt-6 pb-8 mb-4">
  <%= form_with model: @diary, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :title, class: "block text-gray-600 text-sm font-semibold mb-2", for: "title" %>
      <%= f.text_field :title, class: "bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= f.label :text, class: "block text-gray-600 text-sm font-semibold mb-2", for: "text" %>
      <%= f.text_area :text, class: "bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-between">
      <%= f.submit nil, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to 'home', root_path, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %>
    </div>
  <% end %>
</div>
