<% set_meta_tags title: t('.title') %>
<div class="flex justify-center">
  <i class="fas fa-calendar text-3xl text-dark-black mr-3 mb-1 shadow-lg"></i>
  <h1 class="text-3xl font-thin"><%= l Time.current, format: :long %></h1>
</div>
<%= render 'diaries/timer' %>
<div class="bg-natural rounded px-8 pt-6 pb-8 mb-4">
  <%= form_with model: @diary, local: true, url: edit_sentiment_confirm_diary_path(@diary) do |form| %> 
    <%= render 'diaries/form', f: form  %>
  <% end %>
</div>
<%= render 'diaries/js_timer_logic' %>
