<%= render 'shared/flash_message' %>
<%= render 'diaries/greeting' %>

<% if @diaries_created.present? %>
  <div class="visible lg:invisible grid grid-cols-12 gap-4">
  <% @diaries_created.each do |diary_created| %>
    <% if diary_created.class == Diary %>
      <%= render 'diaries/diary_content', diary_created: diary_created %>
    <% elsif diary_created.class == Soliloquy %>
      <%= render 'diaries/soliloquy_content', diary_created: diary_created %>
    <% end %>
  <% end %>
  </div>
  <!-- 親要素でjustify-aroundで横並びにして.子要素でflex-colで縦並びにしている -->
  <!-- おそらく修正が必要なのは，そのさらに下の子要素のコードである. -->
  <!-- invisibleでは，非表示になるだけなので.条件分岐で表示させる方法に変更する必要がある -->
  <div class="invisible lg:visible flex justify-around w-full">
    <% @diaries.each do |diary| %>
      <div class="flex flex-col">
      <%= render 'diaries/diary_content02', diary: diary %>
      <div>
    <% end %>

    <%= @soliloquies.each do |soliloquy| %>
      <div class="flex flex-col">
      <%= render 'diaries/soliloquy_content02', soliloquy: soliloquy %>
      <div>
    <% end %>
  </div>
<% else %>
  <div class="text-6xl text-dark-black mb-2 m-10">
    <i class="fas fa-box-open"></i>
  </div>
  <h1 class="text-3xl text-dark-black mb-2 m-10">投稿がありません</h1>
  <h1 class="text-3xl text-dark-black mb-2 m-10">新しい投稿をしてみませんか</h1>
<% end %>
<%= render 'diaries/submit_button' %>
