<% content_for(:title, t('.title')) %>
<div class="pb-64 lg:pb-0 bg-natural">
  <%= render 'shared/flash_message' %>
  <%= render 'diaries/greeting' %>

  <% if @diaries_created.present? %>
    <h1 class="text-dark-black text-center font-thin text-lg"><%= t '.sentiment_list' , username: current_user.username %></h1>
    <div class="flex flex-wrap mx-64">
      <% @diaries_sentiments.each do |diary_sentiments| %>
        <%= render 'shared/sentiment_design', object: diary_sentiments %>
      <% end %>
    </div>
    <!-- PCデザイン -->
    <div class="hidden lg:block h-full mt-20 mx-10">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-7">
          <% @diaries.each do |diary| %>
            <div class="flex flex-col">
              <%= render 'diaries/diary_content02', diary: diary %>
            </div>
          <% end %>
        </div>
        <div class="col-span-5">
          <% @soliloquies.each do |soliloquy| %>
            <div class="flex flex-col">
              <%= render 'diaries/soliloquy_content02', soliloquy: soliloquy %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= will_paginate @diaries %>
      </div>
    </div>
    <!-- コメントアウト終了 -->
    <!-- Phoneデザイン -->
    <div class="block lg:hidden">
      <div class="visible lg:invisible grid grid-cols-12 gap-4">
        <% @diaries_soliloquies.each do |diary_soliloquy| %>
          <% if diary_soliloquy.class == Diary %>
            <%= render 'diaries/diary_content', diary_created: diary_soliloquy %>
          <% elsif diary_soliloquy.class == Soliloquy %>
            <%= render 'diaries/soliloquy_content', diary_created: diary_soliloquy %>
          <% end %>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @dia %>
      </div>
    </div>
    <!-- コメントアウト終了 -->
  <% else %>
    <div class="pb-20 flex justify-center">
      <div class="text-natural m-10">
        <%= embedded_svg "undraw_no_data_re_kwbl.svg", class: "h-32 w-32" %>
      </div>
      <div class="mt-10">
        <h1 class="text-md text-dark-black mb-2 m-10"><%= t '.no_posts' %></h1>
        <h1 class="text-md text-dark-black mb-2 m-10"><%= t '.advise_posts' %></h1>
      </div>
    </div>
  <% end %>
  <%= render 'diaries/submit_button' %>
</div>
