<%= render 'shared/flash_message' %>

<div class="bg-natural rounded-full m-5 text-center">
  <% if Time.current.hour > 5 && Time.current.hour < 11  %>
    <h1 class="text-3xl text-dark-black mb-2"><%= "#{current_user.username}さん、おはようございます。" %></h1>
  <% elsif Time.current.hour > 12 && Time.current.hour < 18 %>
    <h1 class="text-3xl text-dark-black mb-2"><%= "#{current_user.username}さん、こんにちは。" %></h1>
  <% else %>
    <h1 class="text-3xl text-dark-black mb-2"><%= "#{current_user.username}さん、こんばんは。" %></h1>
  <% end %>
  <h1 class="text-3xl text-dark-black mb-2">今日は、<%= I18n.l(Date.today, format: :long) %>です。</h1>
</div>

<% @diaries_created.each do |diary_created| %>
  <% if diary_created.class == Diary %>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-2 m-8">
      <h1 class="text-4xl text-dark-black mb-2"><%= l diary_created.created_at, format: :day %></h1>
      <div class="bg-natural rounded-full h-10 w-10 flex items-center justify-center relative">
        <h1 class="text-lg text-dark-black"><%= l diary_created.created_at, format: :day_of_week %></h1>
        <% if diary_created.created_at.wday == 1 %>
          <span class="bg-purple-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 2 %>
          <span class="bg-red-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 3 %>
          <span class="bg-blue-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 4 %>
          <span class="bg-green-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 5 %>
          <span class="bg-yellow-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 6 %>
          <span class="bg-indigo-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% else %>
          <span class="bg-pink-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% end %>
      </div>
      <h1 class="text-lg text-dark-black"><%= l diary_created.created_at, format: :year_month %></h1>
    </div>

    <div class="p-8 col-span-10">
      <div class="bg-natural rounded-3xl shadow-lg">
        <div class="p-16">
          <div>
            <h1 class="font-bold text-lg text-dark-black mb-1 text-center far"><%= link_to diary_created.title, diary_path(diary_created) %></h1>
          </div>
          <div class="mt-8 text-center">
            <p class="text-gray-600 far"><%= diary_created.text %></p>
            <div class="flex justify-end">
              <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
              <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-12 w-12'), edit_diary_path(diary_created) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% elsif diary_created.class == Soliloquy %>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-2 m-8">
      <h1 class="text-4xl text-dark-black mb-2"><%= l diary_created.created_at, format: :day %></h1>
      <div class="bg-natural rounded-full h-10 w-10 flex items-center justify-center relative">
        <h1 class="text-lg text-dark-black"><%= l diary_created.created_at, format: :day_of_week %></h1>
        <% if diary_created.created_at.wday == 1 %>
          <span class="bg-purple-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 2 %>
          <span class="bg-red-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 3 %>
          <span class="bg-blue-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 4 %>
          <span class="bg-green-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 5 %>
          <span class="bg-yellow-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% elsif diary_created.created_at.wday == 6 %>
          <span class="bg-indigo-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% else %>
          <span class="bg-pink-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
        <% end %>
      </div>
    </div>
    <div class="col-span-10 mx-8 pt-16">
      <div class="bg-natural rounded-3xl shadow mb-8">
        <div class="p-4 flex justify-center relative">
          <div class="text-center">
            <p class="text-gray-600 far"><%= diary_created.soliloquy %></p>
          </div>
          <div class="absolute right-32 bottom-1 flex justify-center">
            <div class="rounded-full h-12 w-12 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-5 w-5 text-dark-black'), edit_soliloquy_path(diary_created) %>
            </div>
            <div class="rounded-full h-12 w-12 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('trash', style: :outline,class_name: 'h-5 w-5 text-dark-black'), soliloquy_path(diary_created), data: { confirm: 'Are you sure?' }, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <p>投稿がありません</p>
  <% end %>
<% end %>

<div x-data="{ open: false }"
 class="fixed right-32 bottom-64 ">
    <button x-ref="modal1_button"
            @click="open = true" class="rounded-full h-40 w-40 flex items-center justify-center bg-blue-300 text-natural transition-all	duration-300	 cursor-pointer">
      <%= heroicon('plus', class_name: 'h-24 w-24') %>
    </button>
    <div role="dialog"
         aria-labelledby="modal1_label"
         aria-modal="true"
         tabindex="0"
         x-show="open"
         @click="open = false; $refs.modal1_button.focus()"
         @click.away="open = false; $refs.modal1_button.focus()"
         class="fixed bottom-0 left-0 w-full h-screen ">
        <div class="bottom-0 left-0 w-full h-screen bg-black opacity-50"
             aria-hidden="true"
             x-show="open"></div>
        <div @click.stop=""
             x-show="open"
             class="flex flex-col shadow-lg overflow-hidden z-10">
          <div class="z-20 absolute right-32 bottom-96 pb-14" id="modal1_label">
            <div class="flex justify-end items-center z-20">
              <p class="text-4xl mr-4 text-natural">投稿</p>
              <div class="rounded-full h-40 w-40 flex items-center justify-center bg-blue-300 text-natural mb-6">
                  <%= link_to heroicon('pencil', class_name: 'h-24 w-24'), new_diary_path %>
              </div>
            </div>

            <div class="flex justify-end items-center z-20">
              <p class="text-4xl mr-4 text-natural">つぶやき</p>
              <div class="rounded-full h-40 w-40 flex items-center justify-center bg-blue-300 text-natural">
                  <%= link_to heroicon('chat', class_name: 'h-24 w-24'), new_soliloquy_path %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
