<%= render 'shared/flash_message' %>
<%= render 'diaries/greeting' %>
<h1 class="text-dark-black text-center font-thin text-lg"><%= current_user.username %>さんの最近の感情です。</h1>
<div class="flex flex-wrap mx-64">
  <% @diaries.each do |diary|%>
    <% diary.sentiments.map(&:name).first(10).each do |sentiment_date| %>
      <% if sentiment_date == "楽しい" %>
      <div>
        <div class="relative rounded-tl-3xl rounded-tr-2xl rounded-bl-2xl rounded-br-3xl w-20 h-10 bg-yellow-200 text-dark-black">
          <div class="absolute inset-y-2 inset-x-3.5">
            <%= sentiment_date %>
          </div>
        </div>
      </div>
      <% elsif sentiment_date == "怒り" %>
        <div class="relative rounded-tl-2xl rounded-tr-3xl rounded-bl-xl rounded-br-2xl w-20 h-10 bg-red-200 text-dark-black">
          <div class="absolute inset-y-2 inset-x-5">
            <%= sentiment_date %>
          </div>
        </div>
      <% elsif sentiment_date == "悲しい" %>
        <div class="relative rounded-tl-3xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-light-blue text-dark-black">
          <div class="absolute inset-y-2 inset-x-3.5">
            <%= sentiment_date %>
          </div>
        </div>
      <% elsif sentiment_date == "恐怖" %>
        <div class="relative rounded-tl-2xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-gray-200 text-dark-black">
          <div class="absolute inset-y-2 inset-x-5">
            <%= sentiment_date %>
          </div>
        </div>
      <% elsif sentiment_date == "嬉しい" %>
        <div class="relative rounded-tl-2xl rounded-tr-xl rounded-bl-2xl rounded-br-3xl w-20 h-10 bg-pink-100 text-dark-black">
          <div class="absolute inset-y-2 inset-x-3.5">
            <%= sentiment_date %>
          </div>
        </div>
      <% else %>
        <div class="relative rounded-tl-3xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-green-200 text-dark-black">
          <div class="absolute inset-y-2 inset-x-4">
            <%= sentiment_date %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @diaries_created.present? %>
  <div class="h-full mt-20 mx-10">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-7">
        <% @diaries.each do |diary| %>
          <div class="flex flex-col">
            <%= render 'diaries/diary_content02', diary: diary %>
          </div>
        <% end %>
      </div>
      <div class="col-span-5">
        <% @soliloquies.each do |soliloquy| %>
          <div class="flex flex-col">
            <%= render 'diaries/soliloquy_content02', soliloquy: soliloquy %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--
  <div class="visible lg:invisible grid grid-cols-12 gap-4">
  <% @diaries_created.each do |diary_created| %>
    <% if diary_created.class == Diary %>
      <%= render 'diaries/diary_content', diary_created: diary_created %>
    <% elsif diary_created.class == Soliloquy %>
      <%= render 'diaries/soliloquy_content', diary_created: diary_created %>
    <% end %>
  <% end %>
  </div>
  -->
  <!-- 親要素でjustify-aroundで横並びにして.子要素でflex-colで縦並びにしている -->
  <!-- おそらく修正が必要なのは，そのさらに下の子要素のコードである. -->
  <!-- invisibleでは，非表示になるだけなので.条件分岐で表示させる方法に変更する必要がある -->
<% else %>
  <div class="text-6xl text-dark-black mb-2 m-10">
    <i class="fas fa-box-open"></i>
  </div>
  <h1 class="text-3xl text-dark-black mb-2 m-10">投稿がありません</h1>
  <h1 class="text-3xl text-dark-black mb-2 m-10">新しい投稿をしてみませんか</h1>
<% end %>
<%= render 'diaries/submit_button' %>

<div class="text-center">
  <%= will_paginate @diaries %>
</div>
