<%= render 'shared/flash_message' %>
<%= render 'diaries/greeting' %>

<% @diaries_created.each do |diary_created| %>
  <% if diary_created.class == Diary %>
    <%= render 'diaries/diary_content', diary_created: diary_created %>
  <% elsif diary_created.class == Soliloquy %>
    <%= render 'diaries/soliloquy_content', diary_created: diary_created %>
  <% else %>
    <p>投稿がありません</p>
  <% end %>
<% end %>
<%= render 'diaries/submit_button' %>
