<div class="p-8">
  <div class="relative pb-5">
    <div class="flex justify-start">
        <%= render 'shared/back_button' %>
        <% if @diary.title? %>
          <div class="text-4xl text-dark-black font-thin"><%= @diary.title %></div>
        <% else %>
          <div class="text-4xl text-dark-black font-thin">Untitled</div>
        <% end %>
      </div>
    <div class="absolute right-0 text-1xl text-dark-black font-thin"><%= l @diary.created_at, format: :long %></div>
  </div>
    <div class="bg-gray-50 rounded-3xl shadow-lg">
      <div class="p-16">
        <div class="mt-8 text-center">
          <p class="text-gray-600 font-thin"><%=safe_join(@diary.text.split("\n"),tag(:br))%></p>
        </div>
        <div class="relative pt-1 mt-3">
          <div class="overflow-hidden h-5 mb-4 text-xs flex rounded bg-indigo-100 shadow-inner">
            <div id="stylewidth" style="width:<%= @diary.creativity %>%" class="shadow-inner flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-400"></div>
          </div>
          <span class="absolute right-0 text-dark-black font-thin"><%= @diary.creativity %>％</span>
          <span class="absolute left-0 text-dark-black font-thin"><%= @diary.word_count %>文字</span>
        </div>
        <div class="flex justify-end mt-10">
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-12 w-12'), edit_diary_path(@diary) %>
          </div>
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('trash', style: :outline,class_name: 'h-12 w-12'), @diary, method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </div>
        <% @sentiments_date.each do |sentiment_date| %>
          <%= sentiment_date %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
