<%= render 'shared/back_button' %>
<div class="p-8">
  <div class="relative pb-5">
  <% if @diary.title? %>
    <div class="far text-3xl text-dark-black"><%= @diary.title %></div>
  <% else %>
    <div class="far text-3xl text-dark-black">Untitled</div>
  <% end %>
    <div class="absolute right-0 far text-1xl"><%= l @diary.created_at, format: :long %></div>
  </div>
    <div class="bg-gray-50 rounded-3xl shadow-lg">
      <div class="p-16">
        <div class="mt-8 text-center">
          <p class="text-gray-600"><%=safe_join(@diary.text.split("\n"),tag(:br))%></p>
        </div>
        <div class="relative pt-1 mt-3">
          <div class="overflow-hidden h-5 mb-4 text-xs flex rounded bg-indigo-100 shadow-inner">
            <div id="stylewidth" style="width:<%= @diary.creativity %>%" class="shadow-inner flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-400"></div>
          </div>
          <span class="absolute right-0 text-dark-black"><%= @diary.creativity %>％</span>
          <span class="absolute left-0 text-dark-black"><%= @diary.word_count %>文字</span>
        </div>
        <div class="text-center">
          <button class="mt-3 bg-dark-black text-natural hover:bg-white hover:text-dark-black rounded-full px-12 py-3 shadow-lg focus:outline-none">
              <%= link_to '編集', edit_diary_path %>
          </button>
          <button class="mt-3 bg-dark-black text-natural hover:bg-white hover:text-dark-black rounded-full px-12 py-3 shadow-lg focus:outline-none">
            <%= link_to '削除', @diary, method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </button>
        </div>
      </div>
    </div>
  </div>
