<div class="p-8">
  <div class="relative pb-5">
    <div class="flex justify-start">
        <%= render 'shared/back_button' %>
        <% if @diary.title? %>
          <div class="text-4xl text-dark-black font-thin"><%= @diary.title %></div>
        <% else %>
          <div class="text-4xl text-dark-black font-thin">Untitled</div>
        <% end %>
      </div>
    <div class="absolute right-0 text-1xl text-dark-black font-thin"><%= l @diary.created_at, format: :long %></div>
  </div>
    <div class="bg-white rounded-3xl">
      <div class="p-16">
        <div class="mt-8 text-center">
          <p class="text-gray-600 font-thin"><%=safe_join(@diary.text.split("\n"),tag(:br))%></p>
        </div>
        <div class="relative pt-1 mt-3">
          <div class="overflow-hidden h-5 mb-4 text-xs flex rounded bg-indigo-100 shadow-inner">
            <div id="stylewidth" style="width:<%= @diary.creativity %>%" class="shadow-inner flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-400"></div>
          </div>
          <span class="absolute right-0 text-dark-black font-thin"><%= @diary.creativity %>％</span>
          <span class="absolute left-0 text-dark-black font-thin"><%= @diary.word_count %>文字</span>
        </div>
        <div class="flex justify-end mt-10">
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-12 w-12'), edit_diary_path(@diary) %>
          </div>
          <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
            <%= render 'shared/delete', object: @diary %>
          </div>
        <% @sentiments_date.each do |sentiment_date| %>
          <% if sentiment_date == "楽しい" %>
            <div class="relative rounded-tl-3xl rounded-tr-2xl rounded-bl-2xl rounded-br-3xl w-20 h-10 bg-yellow-200 text-dark-black">
              <div class="absolute inset-y-2 inset-x-3.5">
                <%= sentiment_date %>
              </div>
            </div>
          <% elsif sentiment_date == "怒り" %>
            <div class="relative rounded-tl-2xl rounded-tr-3xl rounded-bl-xl rounded-br-2xl w-20 h-10 bg-red-200 text-dark-black">
              <div class="absolute inset-y-2 inset-x-5">
                <%= sentiment_date %>
              </div>
            </div>
          <% elsif sentiment_date == "悲しい" %>
            <div class="relative rounded-tl-3xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-light-blue text-dark-black">
              <div class="absolute inset-y-2 inset-x-3.5">
                <%= sentiment_date %>
              </div>
            </div>
          <% elsif sentiment_date == "恐怖" %>
            <div class="relative rounded-tl-2xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-gray-200 text-dark-black">
              <div class="absolute inset-y-2 inset-x-5">
                <%= sentiment_date %>
              </div>
            </div>
          <% elsif sentiment_date == "嬉しい" %>
            <div class="relative rounded-tl-2xl rounded-tr-xl rounded-bl-2xl rounded-br-3xl w-20 h-10 bg-pink-100 text-dark-black">
              <div class="absolute inset-y-2 inset-x-3.5">
                <%= sentiment_date %>
              </div>
            </div>
          <% else %>
            <div class="relative rounded-tl-3xl rounded-tr-3xl rounded-bl-2xl rounded-br-xl w-20 h-10 bg-green-200 text-dark-black">
              <div class="absolute inset-y-2 inset-x-4">
                <%= sentiment_date %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

