<div class="flex justify-center mt-28">
  <div class="bg-transparent">
    <%= image_tag 'logo_transparent.png', class: 'object-contain h-64 w-64' %>
  </div>
</div>

<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="flex-col">
    <%= f.text_field :username, class: 'text-center rounded-full w-9/12 py-14 ml-32 my-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "\uf007 User Name", autocomplete: 'off' %>

    <%= f.text_field :email, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "\uf0e0 Email", autocomplete: 'off'  %>

    <%= f.password_field :password, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "Password", autocomplete: 'off'  %>

    <%= f.password_field :password_confirmation, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "Password Confirmation", autocomplete: 'off' %>

    <%= f.submit '登録', class: 'text-center rounded-full w-9/12 py-14 ml-32 bg-dark-black text-natural placeholder-gray-200 text-5xl' %>
  </div>
<% end %>

<div class="text-center mt-10">
  <%= link_to "ログインはこちら", login_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
</div>
