<% content_for(:title, t('.title')) %>
<div class="h-screen">
  <%= render 'shared/top_logo' %>
  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="flex-col mx-32">
      <%= f.text_field :username, class: 'text-center rounded-full w-full py-12 my-12 bg-white text-dark-black placeholder-gray-200 text-4xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner far', placeholder: "\uf007 User Name" %>
      <%= f.text_field :email, class: 'text-center rounded-full w-full py-12 mb-12 bg-white text-dark-black placeholder-gray-200 text-4xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner far', placeholder: "\uf0e0 Email" %>
      <%= f.password_field :password, class: 'text-center rounded-full w-full py-12 mb-12 bg-white text-dark-black placeholder-gray-200 text-4xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner far', placeholder: "Password" %>
      <%= f.password_field :password_confirmation, class: 'text-center rounded-full w-full py-12 mb-12 bg-white text-dark-black placeholder-gray-200 text-4xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner far', placeholder: "Password Confirmation" %>
      <%= f.submit t('.submit'), class: 'text-center rounded-full w-full py-12 bg-dark-black text-natural placeholder-gray-200 text-4xl font-thin' %>
    </div>
  <% end %>
  <div class="text-center mt-10">
    <%= link_to t('.login'), login_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
  </div>
  <div class="text-center my-10">
    <%= link_to t('.guidance'), new_initial_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
  </div>
</div>
