<% set_meta_tags title: t('.title') %>
<div class="bg-ivory">
  <%= render 'shared/top_logo' %>
  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="flex flex-col mx-32 lg:mx-64 px-0 lg:px-48">
      <div class="my-12 lg:my-6">
        <div class="flex justify-start mb-1">
          <%= f.label :username, class: "text-xl lg:text-md text-matte ml-2" %>
          <div class="rounded-md bg-agate ml-1 px-2 text-xl lg:text-md text-ivory">必須</div>
        </div>
        <%= f.text_field :username, class: 'text-center rounded-full w-full py-12 lg:py-8 bg-white text-matte placeholder-gray-300 text-5xl lg:text-2xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner font-thin md:font-light', placeholder: "User Name" %>
      </div>
      <div class="mb-12 lg:mb-6">
        <div class="flex justify-start mb-1">
          <%= f.label :email, class: "text-xl lg:text-md text-matte ml-2" %>
          <div class="rounded-md bg-agate ml-1 px-2 text-xl lg:text-md text-ivory">必須</div>
        </div>
        <%= f.text_field :email, class: 'text-center rounded-full w-full py-12 lg:py-8 bg-white text-matte placeholder-gray-300 text-5xl lg:text-2xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner font-thin md:font-light', placeholder: "Email" %>
      </div>
      <div class="mb-12 lg:mb-6">
        <div class="flex justify-start mb-1">
          <%= f.label :password, class: "text-xl lg:text-md text-matte ml-2" %>
          <div class="rounded-md bg-agate ml-1 px-2 text-xl lg:text-md text-ivory">必須</div>
        </div>
        <%= f.password_field :password, class: 'text-center rounded-full w-full py-12 lg:py-8 bg-white text-matte placeholder-gray-300 text-5xl lg:text-2xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner font-thin md:font-light', placeholder: "Password" %>
        <p class="text-xs ml-4 mt-1 opacity-75">パスワードは8文字以上にしてください。英数字の両方を含む必要があります。</p>
      </div>
      <div class="mb-12 lg:mb-6">
        <div class="flex justify-start mb-1">
          <%= f.label :password_confirmation, class: "text-xl lg:text-md text-matte ml-2" %>
          <div class="rounded-md bg-agate ml-1 px-2 text-xl lg:text-md text-ivory">必須</div>
        </div>
        <%= f.password_field :password_confirmation, class: 'text-center rounded-full w-full py-12 lg:py-8 bg-white text-matte placeholder-gray-300 text-5xl lg:text-2xl border-white focus:border-white focus:ring focus:ring-white focus:ring-opacity-50 shadow-inner font-thin md:font-light', placeholder: "Password Confirmation" %>
        <p class="text-xs ml-4 mt-1 opacity-75">パスワードは8文字以上にしてください。英数字の両方を含む必要があります。</p>
      </div>
      <%= f.submit t('.submit'), class: 'text-center rounded-full w-full mt-5 py-12 lg:py-8 bg-matte text-natural placeholder-gray-200 text-5xl lg:text-2xl font-thin md:font-light' %>
    </div>
  <% end %>
  <div class="text-center mt-5">
    <%= link_to t('.login'), login_path, class: "text-xl text-matte border-b-2 border-matte" %>
  </div>
  <div class="text-center mt-5">
    <%= link_to t('.guidance'), initial_path, class: "text-xl text-matte border-b-2 border-matte" %>
  </div>
</div>
