<% flash.each do |key, value| %>
  <% if key == 'notice'%>
  <div x-data="{ isShow: true }">
    <div x-show="isShow" class="flex bg-green-100 rounded-lg p-4 mb-4 mx-5 text-sm text-green-700 relative" role="alert">
        <%= heroicon('information-circle',style: :outline, class_name: 'w-5 h-5 inline mr-3') %>
        <span><%= value %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-4">
          <button @click="isShow = !isShow" type="button"><%= heroicon('x', class_name: 'h-5 w-5') %></button>
        </span>
    </div>
  </div>
  <% elsif key == 'alert'%>
  <div x-data="{ isShow: true }">
    <div x-show="isShow" class="flex bg-red-100 rounded-lg p-4 mb-4 mx-5 text-sm text-red-700 relative" role="alert">
        <%= heroicon('information-circle',style: :outline, class_name: 'w-5 h-5 inline mr-3') %>
        <span><%= value %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-4">
          <button @click="isShow = !isShow" type="button"><%= heroicon('x', class_name: 'h-5 w-5') %></button>
        </span>
    </div>
  </div>
  <% end %>
<% end %>
