<div class='visible lg:invisible flex bg-natural shadow-2xl justify-evenly rounded-t-lg overflow-x-scroll mx-auto py-6 px-2 mr-4 md:mx-6 fixed inset-x-0 bottom-0 h-56'>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-natural text-dark-black hover:bg-dark-black hover:text-natural transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('home', class_name: 'h-24 w-24'), root_path %>
    </div>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-natural text-dark-black hover:bg-dark-black hover:text-natural transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('book-open', class_name: 'h-24 w-24'), tutorial_path %>
    </div>

    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-natural text-dark-black hover:bg-dark-black hover:text-natural transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('chart-bar', class_name: 'h-24 w-24'), analysis_path %>
    </div>

    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-natural text-dark-black hover:bg-dark-black hover:text-natural transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('user', class_name: 'h-24 w-24'), setting_path %>
    </div>
</div>

<!-- PC・タブレット -->
<div class="invisible lg:visible pt-12">
    <footer id="footer" class="bg-white relative w-full">
        <div tabindex="0" aria-label="footer" class="focus:outline-none border-b border-gray-200 py-16">
            <div class="px-4 xl:px-12 2xl:px-4">
                <div class="lg:flex">
                    <div class="w-full lg:w-1/2 mb-16 lg:mb-0 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to 'Totorial', tutorial_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to 'Trivia', "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to 'Analysis', analysis_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to 'Feedback', "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to 'Blog', "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to 'Teams of service', page_path('terms'), class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to 'Privacy policy', page_path('privacy_policy'), class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-1/2 px-6 flex flex-col justify-between">
                            <div class="flex items-center mb-6">
                                <a aria-label="Github" href="javascript:void(0)">
                                    <div class="font-thin text-dark-black dark:text-gray-50 cursor-pointer hover:text-brand dark:hover:text-brand">
                                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg1.svg" alt="Github">
                                        <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg1dark.svg" alt="Github">
                                    </div> </a
                                ><a aria-label="Twitter"  href="javascript:void(0)" class="ml-4">
                                    <div class="">
                                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2.svg" alt="Twitter">
                                        <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2dark.svg" alt="Twitter">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-8 flex flex-col justify-center items-center">
            <%= link_to image_tag('logo_transparent.png'), root_path, class: 'object-contain h-32 w-32' %>
            <p tabindex="0" class="focus:outline-none mt-6 font-thin text-xs lg:text-sm leading-none text-dark-black">2021 Mikke. All Rights Reserved.</p>
        </div>
    </footer>
</div>
