<!-- PC・タブレット -->
<div class="hidden lg:block pt-12">
    <footer id="footer" class="hidden lg:block bg-white w-full z-10">
        <div tabindex="0" aria-label="footer" class="focus:outline-none border-b border-gray-200 py-16">
            <div class="px-4 xl:px-12 2xl:px-4">
                <div class="lg:flex">
                    <div class="w-full lg:w-1/2 mb-16 lg:mb-0 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to t('.tutorial'), tutorial_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to t('.trivia'), "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to t('.analysis'), analysis_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50", "data-turbolinks": false %></li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to t('.feedback'), "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to t('.blog'), "#", class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 flex">
                        <div class="w-full lg:w-1/2 px-6">
                            <ul>
                                <li><%= link_to t('.terms_of_service'), terms_regulation_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                                <li class="mt-6"><%= link_to t('.privacy_policy'), privacy_regulation_path, class: "focus:outline-none focus:underline font-thin text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" %></li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-1/2 px-6 flex flex-col justify-between">
                            <div class="flex items-center mb-6">
                                <a aria-label="Twitter"  href="javascript:void(0)" class="ml-4">
                                    <div class="">
                                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2.svg" alt="Twitter">
                                        <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2dark.svg" alt="Twitter">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-8 flex flex-col justify-center items-center">
            <%= link_to image_tag('logo_transparent.png'), root_path, class: 'object-contain h-32 w-32', alt: t('.alt')%>
            <p tabindex="0" class="focus:outline-none mt-6 font-thin text-xs lg:text-sm leading-none text-dark-black">2022 Mikke.</p>
        </div>
    </footer>
</div>
