<div class='visible lg:invisible flex bg-matte shadow-2xl justify-evenly mx-auto py-6 px-2 fixed inset-x-0 bottom-0 h-56 w-full'>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-matte text-ivory hover:bg-matte hover:text-ivory transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('home', class_name: 'h-24 w-24 home'), root_path %>
    </div>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-matte text-ivory hover:bg-matte hover:text-ivory transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('book-open', class_name: 'h-24 w-24'), tutorial_path %>
    </div>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-matte text-ivory hover:bg-matte hover:text-ivory transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('academic-cap', class_name: 'h-24 w-24'), trivia_path %>
    </div>
    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-matte text-ivory hover:bg-matte hover:text-ivory transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('chart-bar', class_name: 'h-24 w-24'), analysis_path, "data-turbolinks": false %>
    </div>

    <div class="rounded-full h-40 w-40 flex items-center justify-center bg-matte text-ivory hover:bg-matte hover:text-ivory transition-all	duration-500	 cursor-pointer">
        <%= link_to heroicon('user', class_name: 'h-24 w-24 user'), setting_path %>
    </div>
</div>
