<% set_meta_tags title: t('.title') %>
<div class="bg-ivory h-auto xl:flex xl:justify-center pb-64 lg:pb-5 xl:pb-0">
  <div class="px-32 xl:pr-10 xl:w-full">
    <div class="grid grid-cols-10 gap-4 py-10">
      <h1 class="text-4xl text-matte font-thin md:font-light col-span-8"><%= t '.emotion_chart' %></h1>
      <button class="bg-white text-matte rounded-full px-5 py-2 col-span-2 font-thin md:font-light">
        <%= t '.post_week' %>
      </button>
    </div>
    <div class="flex justify-center mx-34 text-matte">
      <div class="text-ivory">
        <%= embedded_svg "undraw_growth_chart_r99m.svg", class: "h-28 w-48" %>
      </div>
      <p class="text-lg my-10 mx-10"><%= t '.emotion_description' %></p>
    </div>
    <div class="chart-container p-20 bg-white rounded-3xl flex justify-center">
        <canvas id="myChart"></canvas>
    </div>
    <div class="my-5 p-4 rounded-lg bg-pink-white text-matte">
      <div class="flex justify-start">
        <i class="fas fa-question-circle text-3xl m-2 pr-2"></i>
        <div class="mt-1">
          <p class="text-sm"><%= t '.positive_description' %></p>
          <p class="text-sm"><%= t '.negative_description' %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-32 xl:pl-10 xl:w-full">
    <div class="py-10">
      <h1 class="text-4xl text-matte font-thin md:font-light col-span-6"><%= t '.creativity_chart' %></h1>
    </div>
    <div class="flex justify-center mx-34 text-matte">
      <div class="text-ivory">
        <%= embedded_svg "undraw_growing_re_olpi.svg", class: "h-28 w-48" %>
      </div>
      <p class="text-lg my-10 mx-10"><%= t '.creativity_description' %></p>
    </div>
    <div class="chart-container p-20 bg-white rounded-3xl flex justify-center">
        <canvas id="Chart"></canvas>
    </div>
    <div class="my-5 p-4 rounded-lg bg-pink-white text-matte">
      <div class="flex justify-start">
        <i class="fas fa-question-circle text-3xl m-2 pr-2"></i>
        <div class="mt-1">
          <p class="text-sm"><%= t '.creativity_explanation' %></p>
          <p class="text-sm"><%= t '.creativity_logic' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/hooter_pc' %>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
 type: 'line',
 data: {
  labels: gon.chartdays,
  datasets: [{
   label: 'Positive',
   data: gon.positive_scores,
   fill:true,
   borderColor:"#FFBCBC",
   backgroundColor:"rgba(255, 188, 188, 0.9)",
   pointBackgroundColor: "#FFBCBC",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }, {
   label: 'Negative',
   data: gon.negative_scores,
   fill:true,
   borderColor:"#B5EAEA",
   backgroundColor:"rgba(181, 234, 234, 0.9)",
   pointBackgroundColor: "#B5EAEA",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }]
 },
 options: {
  responsive: true,
  scales: {
      y : {
              min: -1.0,
              max: 1.0,
              stepSize: 0.05,
              display: false
          }

  }
 }
});

var ctx = document.getElementById('Chart');
var Chart = new Chart(ctx, {
 type: 'line',
 data: {
  labels: gon.creative_days,
  datasets: [{
   label: 'Creativity(％)',
   data: gon.creative_sizes,
   fill:true,
   borderColor: '#E9896A',
   backgroundColor: "rgba(233, 137, 106, 0.9)",
   pointBackgroundColor: "#E9896A",
   pointBorderWidth: 2,
   pointHoverBackgroundColor: "#fff",
   pointHoverBorderWidth: 2,
   lineTension:0.45
  }]
 },
 options: {
  responsive: true,
  options: {
        scales: {
            yAxes: {
                    beginAtZero:true
                }

        }
    }
 }
});
</script>
