<div class="h-full w-full bg-light-blue">
  <h1 class="text-1xl text-natural my-5">ホーム画面の基本操作について</h1>
  <div class="relative h-full w-auto mx-5 rounded-md bg-white text-dark-black">
    <!-- header 開始 -->
    <div class="flex justify-between items-center">
      <div class="bg-transparent flex justify-start">
        <%= image_tag 'logo_transparent.png', class: 'object-contain h-24 w-24' %>
      </div>
      <div class="invisible md:visible flex justify-start">
        <%= heroicon 'view-list', class_name: 'h-10 w-10 text-dark-black mr-5' %>
      </div>
    </div>
    <!-- header 終了 -->
    <div class="bg-natural rounded-full text-center mx-3">
      <h1 class="text-xs lg:text-2xl text-dark-black">ゲストユーザーさん、おはようございます。</h1>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-2 mt-4 ml-6">
        <h1 class="text-sm text-dark-black mb-1 mr-1.5 font-thin">11</h1>
        <div class="bg-natural rounded-full h-5 w-5 flex items-center justify-center relative">
          <h1 class="text-xs text-dark-black font-thin">火</h1>
          <span class="bg-red-400 h-1 w-1 rounded-full block absolute top-0 right-0"></span>
        </div>
        <h1 class="text-xs text-dark-black font-thin">2022/02</h1>
      </div>
      <div class="p-4 col-span-10">
        <div class="bg-natural rounded-3xl shadow-md relative">
          <div class="p-6">
            <i class="absolute top-5 left-5 fas fa-award text-md text-yellow-500"></i>
            <div class="mt-2 text-center">
              <h1 class="text-xs font-thin text-dark-black mb-2">今日も書いていくよ。</h1>
            </div>
            <div class="bg-white rounded">
            <div class="h-5 text-xs flex rounded bg-orange-100">
              <div style="width:62%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-400"></div>
            </div>
            <p class="text-xs text-center text-dark-black font-thin">Creativity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-2 mt-4 ml-6">
        <h1 class="text-sm text-dark-black mb-1 mr-1.5 font-thin">11</h1>
        <div class="bg-natural rounded-full h-5 w-5 flex items-center justify-center relative">
          <h1 class="text-xs text-dark-black font-thin">火</h1>
          <span class="bg-red-400 h-1 w-1 rounded-full block absolute top-0 right-0"></span>
        </div>
        <h1 class="text-xs text-dark-black font-thin">2022/02</h1>
      </div>
      <div class="p-4 col-span-10">
        <div class="bg-natural rounded-3xl shadow-md relative">
          <div class="p-6">
            <i class="absolute top-5 left-5 fas fa-award text-md text-yellow-500"></i>
            <div class="mt-2 text-center">
              <h1 class="text-xs font-thin text-dark-black mb-2">今日も書いていくよ。</h1>
            </div>
            <div class="bg-white rounded">
            <div class="h-5 text-xs flex rounded bg-orange-100">
              <div style="width:62%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-400"></div>
            </div>
            <p class="text-xs text-center text-dark-black font-thin">Creativity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-2 mt-4 ml-6">
        <h1 class="text-sm text-dark-black mb-1 mr-1.5 font-thin">11</h1>
        <div class="bg-natural rounded-full h-5 w-5 flex items-center justify-center relative">
          <h1 class="text-xs text-dark-black font-thin">火</h1>
          <span class="bg-red-400 h-1 w-1 rounded-full block absolute top-0 right-0"></span>
        </div>
        <h1 class="text-xs text-dark-black font-thin">2022/02</h1>
      </div>
      <div class="p-4 col-span-10">
        <div class="bg-natural rounded-3xl shadow-md relative">
          <div class="p-6">
            <i class="absolute top-5 left-5 fas fa-award text-md text-yellow-500"></i>
            <div class="mt-2 text-center">
              <h1 class="text-xs font-thin text-dark-black mb-2">今日も書いていくよ。</h1>
            </div>
            <div class="bg-white rounded">
            <div class="h-5 text-xs flex rounded bg-orange-100">
              <div style="width:62%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-400"></div>
            </div>
            <p class="text-xs text-center text-dark-black font-thin">Creativity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hooter開始 -->
    <div class="visible md:invisible flex justify-evenly absolute inset-x-0 bottom-16 w-auto h-16 rounded-t-lg shadow-2xl bg-natural mx-5">
      <div class="flex justify-center items-center">
        <%= heroicon 'home', class_name: 'h-8 w-8 text-dark-black' %>
      </div>
      <div class="flex justify-center items-center">
        <%= heroicon 'book-open', class_name: 'h-8 w-8 text-dark-black' %>
      </div>
      <div class="flex justify-center items-center">
        <%= heroicon 'chart-bar', class_name: 'h-8 w-8 text-dark-black' %>
      </div>
      <div class="flex justify-center items-center">
        <%= heroicon 'user', class_name: 'h-8 w-8 text-dark-black' %>
      </div>
    </div>
    <!-- hooter終了 -->
  </div>
</div>
