<div class="w-full mb-64">
  <div class="bg-natural rounded-full m-5 text-center">
    <h1 class="text-3xl text-dark-black mb-2">たろうさん、おはようございます</h1>
  </div>

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-2 m-8">
      <h1 class="text-4xl text-dark-black mb-2">23</h1>
      <div class="bg-natural rounded-full h-10 w-10 flex items-center justify-center relative">
        <h1 class="text-lg text-dark-black">3</h1>
          <span class="bg-purple-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
      </div>
      <h1 class="text-lg text-dark-black">2021</h1>
    </div>

    <div class="p-8 col-span-10">
      <div class="bg-natural rounded-3xl shadow-lg">
        <div class="p-16">
          <i class="fas fa-award text-5xl text-yellow-500"></i>
          <div class="mt-8 text-center">
              <h1 class="font-bold text-lg text-dark-black mb-1 text-center far">タイトルです</h1>
            <div class="flex justify-end">
              <div class="rounded-full h-32 w-32 flex items-center justify-center bg-white text-dark-black">
              <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-12 w-12'), '#' %>
              </div>
            </div>
          </div>

          <div class="bg-white rounded">
            <div class="overflow-hidden h-5 text-xs flex rounded bg-indigo-100">
              <div id="stylewidth" style="width: 60% >%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-400"></div>
            </div>
          <p class="text-sm text-center text-dark-black">Creativity</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-2 m-8">
      <h1 class="text-4xl text-dark-black mb-2">2021.11.23(火)</h1>
      <div class="bg-natural rounded-full h-10 w-10 flex items-center justify-center relative">
        <h1 class="text-lg text-dark-black">2021.11.23</h1>
          <span class="bg-purple-400 h-3 w-3 rounded-full block absolute top-0 right-0"></span>
      </div>
    </div>
    <div class="col-span-10 mx-8 pt-16">
      <div class="bg-natural rounded-3xl shadow mb-8">
        <div class="p-4 flex justify-center relative">
          <div class="text-center">
            <p class="text-gray-600 far">テスト内容テスト内容</p>
          </div>
          <div class="absolute right-32 bottom-1 flex justify-center">
            <div class="rounded-full h-12 w-12 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('pencil-alt', style: :outline,class_name: 'h-5 w-5 text-dark-black'), '#' %>
            </div>
            <div class="rounded-full h-12 w-12 flex items-center justify-center bg-white text-dark-black">
            <%= link_to heroicon('trash', style: :outline,class_name: 'h-5 w-5 text-dark-black'), '#' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div x-data="{ open: false }"
  class="fixed right-32 bottom-64">
  <div class="fixed right-32 bottom-64 z-20">
    <template x-if="open">
      <button class="rounded-full h-40 w-40 flex items-center justify-center bg-light-blue text-natural transition-all	duration-300	 cursor-pointer">
      <%= heroicon('x', class_name: 'h-16 w-16') %>
      </button>
    </template>
  </div>

    <button x-ref="modal1_button"
            @click="open = true" class="rounded-full h-40 w-40 flex items-center justify-center bg-light-blue text-natural transition-all	duration-300	 cursor-pointer">
      <%= heroicon('plus', class_name: 'h-24 w-24') %>
    </button>

    <div role="dialog"
          aria-labelledby="modal1_label"
          aria-modal="true"
          tabindex="0"
          x-show="open"
          @click="open = false; $refs.modal1_button.focus()"
          @click.away="open = false; $refs.modal1_button.focus()"
          class="fixed bottom-0 left-0 w-full h-screen ">
        <div class="bottom-0 left-0 w-full h-screen bg-black opacity-50"
              aria-hidden="true"
              x-show="open"></div>
        <div @click.stop=""
              x-show="open"
              class="flex flex-col shadow-lg overflow-hidden z-10">
          <div class="z-20 absolute right-32 bottom-96 pb-14" id="modal1_label">
            <div class="flex justify-end items-center z-20">
              <p class="text-4xl mr-4 text-natural">投稿</p>
              <div class="rounded-full h-40 w-40 flex items-center justify-center bg-light-blue text-natural mb-6">
                  <%= link_to heroicon('pencil', class_name: 'h-24 w-24'), '#' %>
              </div>
            </div>

            <div class="flex justify-end items-center z-20">
              <p class="text-4xl mr-4 text-natural">つぶやき</p>
              <div class="rounded-full h-40 w-40 flex items-center justify-center bg-light-blue text-natural">
                  <%= link_to heroicon('chat', class_name: 'h-24 w-24'), '#' %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
