<div class="h-full">
  <div class="mx-64">
    <div class="mb-20 text-dark-black">
      <h1 class="text-6xl font-thin mb-5 border-b-2 border-dark-black pb-5">Mikke</h1>
      <h2 class="text-4xl">書く瞑想を初めて</h2>
      <h2 class="text-4xl">新しい自分が見つかる</h2>
    </div>
    <div class="mb-20">
      <h3 class="text-2xl text-dark-black">自分を客観視できる</h3>
      <p class="text-lg text-dark-black">自分の気持ち、感覚、考えなどは自分自身は常に一体化していているのが普通。自分自身を客観的に見るトレーニングをすることで、日常生活を送る中でもストレスがかかる場面においてマイナスな感情や物事にとらわれることなく、自分らしく生き生きと過ごせるようになります。</p>
    </div>
    <div class="mb-20">
      <h3 class="text-2xl text-dark-black">自分自身への理解が深まる</h3>
      <p class="text-lg text-dark-black">「自分はどんな時にストレスがかかるのか」、「どんな時に悲しくなるのか」、「どんなことをすると楽しいのか」、自分自身の心や感情の癖がよく分かるようになります。</p>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_time_management_re_tk5w.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black ml-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">10分は書いてみる。</h1>
        <p class="text-lg">書く瞑想の中で，自分の想いをすべて書きだすのに必要な時間が約8分と言われている.なのではじめは乗り気じゃなくても10分とにかく書いてみる.そうすると10分後にはきっと楽しく書いている自分がいる.</p>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">最後は絶対にポジティブな言葉で締める。</h1>
        <p class="text-lg">よくセルフイメージは自分を作るとか，使う言葉でその人の人格ができるとか言われる。それは，本当にそう思う。</p>
        <p class="text-lg">自分は，ネガティブ思考だ。と思っている人はきっと自分はポジティブだ。と思ってる人よりネガティブになると思う。だから書く内容が，はじめから最後までネガティブな言葉だと気づくといつもよりネガティブな自分になってしまう。</p>
      </div>
      <div class="text-natural">
        <%= embedded_svg "undraw_nature_benefits_re_kk70.svg", class: "h-64 w-64" %>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_mornings_re_cofi.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">朝，書く。</h1>
        <p class="text-lg">夜書くと1日の反省文みたくなってしまう。また，朝のほうがクリエイティブな活動に適していると言われている。</p>
        <p class="text-lg">夜寝る前にもやもやしていたことも朝起きて書いているうちに解決策が見つかるなんてことよくある。</p>
      </div>
    </div>
    <div class="flex justify-between mb-20">
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">書く内容は，なんでもいい。</h1>
        <p class="text-lg">書く内容は本当になんでもよくて，例えば，カフェのあの店員さん可愛いな。とか今日は仕事の企画書うまく作成できなかったな。とか書くことがないときは，"書くことがないとひたすら書く" 。書いているうちになにか自分から出てくる。</p>
      </div>
      <div class="text-natural">
        <%= embedded_svg "undraw_typewriter_re_u9i2.svg", class: "h-64 w-64" %>
      </div>
    </div>
    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_security_re_a2rk.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">絶対に人に見せない。</h1>
        <p class="text-lg">SNSや人の目につくところになにか書き込みするとき，少し盛ったりするものだし，ネガティブなことばかりつぶやいているSNSアカウントはだれもフォローしたいと思わない。ありのままの自分を出しにはまず人に見せないと決めることが大切だと思う。</p>
      </div>
    </div>

    <div class="bg-green-300 mb-20 rounded-md">
      <p>ここにTriviaデータを表示します。</p>
      <p>カルーセルでid1..id....まで</p>
    </div>
  </div>
</div>
