<% set_meta_tags title: t('.title') %>
<div class="mx-32 lg:mx-64 px-8">
  <div class="text-matte flex justify-between">
    <div>
      <h3 class="text-6xl mb-2">書く瞑想で</h3>
      <h3 class="text-6xl">新しい自分が見つかる。</h3>
    </div>
    <div class="text-ivory">
      <%= embedded_svg "undraw_mindfulness_scgo.svg", class: "h-48 w-64" %>
    </div>
  </div>
  <div class="mb-20 text-matte">
    <h3 class="text-2xl mb-3">Mikke（ミッケ）習慣ジャーナリング </h3>
    <p class="text-lg">Mikke（ミッケ）とは、ジャーナリングをデジタルで実現し、感情の分析や習慣化しやすいようにサポートするサービスです。</p>
  </div>
</div>
<div class="bg-amber">
  <div class="mx-32 lg:mx-64 px-8">
    <h2 class="py-20 text-4xl text-ivory">Mikke（ミッケ）で実現できること。</h2>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="text-amber">
        <%= embedded_svg "undraw_logic_re_nyb4.svg", class: "h-48 w-64" %>
      </div>
      <div class="mx-12">
        <h3 class="text-xl mb-3">ロジカルシンキングが身につく。</h3>
        <p class="text-md">書く瞑想で、とにかく書くという作業を通じて、自分がなんとなく思っていたことや考えていた思考を言語化することになり、ロジカルシンキングが身につくきっかけになります。書くことで思っていたことを客観的に見つめることが可能となり、自分の考えの間違った部分にも気づきやすくなって、課題の解決に何が必要なのか明確になるはずです。書く瞑想によって課題解決スキルの向上も期待できます。</p>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="mx-12">
        <h3 class="text-xl mb-3">ストレスの解消になる。</h3>
        <p class="text-md">思ったことをひたすら書き出すので、普段たまっていた感情を吐き出すこととなり、ストレスの解消につながります。自分の感情を抑圧し続けると、ストレスはたまり続け、最悪の場合、自分でも気づかないうちに鬱状態となることもありえます。書く瞑想によって心配や不安、悩みを解消できるはずです。</p>
      </div>
      <div class="text-amber">
        <%= embedded_svg "undraw_feeling_happy_jymo.svg", class: "h-48 w-64" %>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="text-amber">
        <%= embedded_svg "undraw_segment_analysis_re_ocsl.svg", class: "h-48 w-64" %>
      </div>
      <div class="mx-12">
        <h3 class="text-xl mb-3">自己理解が進む。</h3>
        <p class="text-md">書く瞑想することで自分自身が、これまで気づかなかった部分を知るようになり、自己分析が進みます。自分に対して否定的な感情を持っていた場合でも、ありのままの自分を受け入れたり、自分に自信を持てたりするようになるでしょう。</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-matte">
  <div class="mx-32 lg:mx-64 px-8">
    <h2 class="py-20 text-4xl text-ivory">Mikke（ミッケ）の機能。</h2>

    <div class="pb-20 text-ivory flex justify-between">
      <div class="text-ivory pr-20 lg:pr-64">
        <h3 class="text-xl mb-5">シンプルで書きやすいジャーナリング。</h3>
        <p class="text-md leading-loose tracking-widest">ジャーナリングを継続することに特化したフォーマットになっています。タイマー、文字数・書く量の見える化など、あなたのモチベーションをサポートして、継続しやすい仕組みになっています。</p>
      </div>
      <div class="text-ivory">
        <%= image_tag "canva-diary" %>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="text-ivory">
        <%= image_tag "canva-index" %>
      </div>
      <div class="pl-20 lg:pl-64">
        <h3 class="text-xl mb-3">書く内容を提案してくれる。</h3>
        <p class="text-md leading-loose tracking-widest">「書こうと思っても、何を書けばいいかわからない。」そんなときに使える。ジャーナリングする内容を提案します。<i class="fas fa-random"></i>をクリックまたはタッチすることで、ほかの提案内容にランダムで変更することができます。</p>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="pr-20 lg:pr-64">
        <h3 class="text-xl mb-3">今の気分を選択できる。</h3>
        <p class="text-md leading-loose tracking-widest">AIが分析するものとは別に、自分で書いたときの感情を選択できます。</p>
        <p class="text-md leading-loose tracking-widest">自動分析とは別に自分の感情を選択することで、そのときあなた自身が「どう思っていたか」を記録することができます。記録してあるデータを、後から客観的に見直すことができます。</p>
      </div>
      <div class="text-ivory">
        <%= image_tag "canva-sentiment" %>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="text-ivory">
        <%= image_tag "canva-trivia" %>
      </div>
      <div class="pl-20 lg:pl-64">
        <h3 class="text-xl mb-3">書くことの意味を教えてくれる。</h3>
        <p class="text-md leading-loose tracking-widest">書き終わったあとに、毎回小さなトリビア・エビデンスを教えてくれます。書くこと、ジャーナリングをする意味をロジカルに理解することで、書くことへの意義や人生にどれだけ貢献するか。情報を共有します。</p>
      </div>
    </div>
    <div class="pb-20 text-ivory flex justify-between">
      <div class="pr-20 lg:pr-64">
        <h3 class="text-xl mb-3">書いたジャーナリングを分析してくれる。</h3>
        <p class="text-md leading-loose tracking-widest">AIがジャーナリングの結果を分析してくれます。</p>
        <p class="text-md leading-loose tracking-widest">分析した内容は、ポジティブとネガティブを判定して、感情のクオリティを波で表します。ピンクの幅が大きいほどポジティブの傾向、ミズイロの幅が大きいほどネガティブの傾向と。視覚的にわかりやすくなっています。</p>
      </div>
      <div class="text-ivory">
        <%= image_tag "canva-analysis" %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/hooter_pc' %>
