<% content_for(:title, 'Mikkeとは') %>
<div class="pb-64 lg:pb-0 bg-natural">
  <div class="mx-32 lg:mx-64">
    <div class="mb-20 text-dark-black">
      <h1 class="text-6xl font-thin mb-5 border-b-2 border-dark-black pb-5">Mikke</h1>
      <h2 class="text-4xl">書く瞑想を初めて</h2>
      <h2 class="text-4xl">新しい自分が見つかる。</h2>
    </div>
    <div class="mb-20">
      <h3 class="text-2xl text-dark-black mb-3">ロジカルシンキングが身につく。</h3>
      <p class="text-lg text-dark-black">書く瞑想で、とにかく書くという作業を通じて、自分がなんとなく思っていたことや考えていた思考を言語化することになり、ロジカルシンキングが身につくきっかけになります。書くことで思っていたことを客観的に見つめることが可能となり、自分の考えの間違った部分にも気づきやすくなって、課題の解決に何が必要なのか明確になるはずです。書く瞑想によって課題解決スキルの向上も期待できます。</p>
    </div>
    <div class="mb-20">
      <h3 class="text-2xl text-dark-black mb-3">ストレスの解消になる</h3>
      <p class="text-lg text-dark-black">思ったことをひたすら書き出すので、普段たまっていた感情を吐き出すこととなり、ストレスの解消につながります。自分の感情を抑圧し続けると、ストレスはたまり続け、最悪の場合、自分でも気づかないうちに鬱状態となることもありえます。書く瞑想によって心配や不安、悩みを解消できるはずです。</p>
    </div>
    <div class="mb-20">
      <h3 class="text-2xl text-dark-black mb-3">自己理解が進む。</h3>
      <p class="text-lg text-dark-black">書く瞑想することで自分自身が、これまで気づかなかった部分を知るようになり、自己分析が進みます。自分に対して否定的な感情を持っていた場合でも、ありのままの自分を受け入れたり、自分に自信を持てたりするようになるでしょう。</p>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_mornings_re_cofi.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">朝，書く。</h1>
        <p class="text-lg">夜書くと1日の反省文みたくなってしまう。また，朝のほうがクリエイティブな活動に適していると言われている。</p>
        <p class="text-lg">夜寝る前にもやもやしていたことも朝起きて書いているうちに解決策が見つかるなんてことよくある。</p>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-dark-black ml-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">10分は書いてみる。</h1>
        <p class="text-lg">書く瞑想の中で，自分の想いをすべて書きだすのに必要な時間が約8分と言われている.なのではじめは乗り気じゃなくても10分とにかく書いてみる.そうすると10分後にはきっと楽しく書いている自分がいる.</p>
      </div>
      <div class="text-natural">
        <%= embedded_svg "undraw_time_management_re_tk5w.svg", class: "h-64 w-64" %>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_typewriter_re_u9i2.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">書く内容は，なんでもいい。</h1>
        <p class="text-lg">書く内容は本当になんでもよくて，例えば，カフェのあの店員さん可愛いな。とか今日は仕事の企画書うまく作成できなかったな。とか書くことがないときは，"書くことがないとひたすら書く" 。書いているうちになにか自分から出てくる。</p>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">絶対に人に見せない。</h1>
        <p class="text-lg">SNSや人の目につくところになにか書き込みするとき，少し盛ったりするものだし，ネガティブなことばかりつぶやいているSNSアカウントはだれもフォローしたいと思わない。ありのままの自分を出しにはまず人に見せないと決めることが大切だと思う。</p>
      </div>
      <div class="text-natural">
        <%= embedded_svg "undraw_security_re_a2rk.svg", class: "h-64 w-64" %>
      </div>
    </div>

    <div class="flex justify-between mb-20">
      <div class="text-natural">
        <%= embedded_svg "undraw_nature_benefits_re_kk70.svg", class: "h-64 w-64" %>
      </div>
      <div class="text-dark-black mr-10">
        <h1 class="text-2xl mb-5 border-b-2 border-dark-black pb-3">最後は絶対にポジティブな言葉で締める。</h1>
        <p class="text-lg">よくセルフイメージは自分を作るとか，使う言葉でその人の人格ができるとか言われる。それは，本当にそう思う。</p>
        <p class="text-lg">自分は，ネガティブ思考だ。と思っている人はきっと自分はポジティブだ。と思ってる人よりネガティブになると思う。だから書く内容が，はじめから最後までネガティブな言葉だと気づくといつもよりネガティブな自分になってしまう。</p>
      </div>
    </div>

    <div class="grid grid-cols-2">
      <% @trivia.each do |t| %>
        <div class="bg-white mb-20 mx-10 rounded-md shadow-inner">
          <div class="flex justify-around mt-8 mb-2">
            <h1 class="border-b-2 border-dark-black text-lg"><%= t.title %></h1>
            <div class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full bg-gray-100 text-dark-black border hover:text-white hover:bg-dark-black focus:text-white focus:bg-dark-black">
              <div class="mr-2">
                <i class="fas fa-tag"></i>
              </div>
              <%= t.tag %>
            </div>
          </div>
          <div class="m-8 text-sm">
            <%= t.description %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

