<div class="h-screen">
<%= render 'shared/flash_message' %>
<p class="text-center text-5xl text-dark-black font-hairline">設定</p>

<div class="flex-col">
  <div class="text-center rounded-full w-9/12 py-14 ml-32 my-12 bg-natural text-dark-black">
    <div class="flex justify-center">
    <%= heroicon('user', style: :outline, class_name: 'h-24 w-24 mr-10') %>
      <%= link_to @current_user.username, new_user_path, class: "rounded-full text-5xl self-center" %>
      <%= link_to "編集", edit_settings_profile_path %>
    </div>
  </div>

  <div class="text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black">
      <%= link_to "リマインダー", "#", class: "rounded-full py-16 px-48 text-5xl" %>
  </div>
</div>

<div class="rounded-3xl bg-natural py-20 px-48 mt-10 mb-20 mx-10">
  <div class="border-b-2 border-dark-black mb-12">
    <h1 class="text-center text-5xl text-dark-black pb-5">チュートリアル</h1>
  </div>
  <div class="border-b-2 border-dark-black mb-12">
  <h1 class="text-center text-5xl text-dark-black pb-5">ご利用規約</h1>
  </div>
  <div class="border-b-2 border-dark-black mb-8">
  <h1 class="text-center text-5xl text-dark-black pb-5">フィードバック</h1>
  </div>
</div>

<div class="text-center rounded-full w-9/12 py-8 ml-32 bg-red-300 text-natural">
  <%= link_to "Logout", :logout, method: :post, class: "rounded-full py-8 px-64 text-5xl" %>
</div>
</div>
