<div class="h-full w-full bg-light-blue">
  <h1 class="text-1xl text-natural my-5">投稿機能について</h1>
  <div class="relative h-full w-auto mx-5 rounded-md bg-white text-dark-black">
    <!-- header 開始 -->
    <%= render 'intros/index_header'%>
    <!-- header 終了 -->
    <!-- body timer 開始 -->
    <div class="flex justify-center">
      <i class="fas fa-calendar text-md text-dark-black mr-3 mb-1 shadow-lg"></i>
      <h1 class="text-md font-thin">2022年02月02日水曜日</h1>
    </div>
    <div x-data="{isShow: true}" class="bg-white rounded px-4 pt-2 pb-1">
      <!-- This is an example component -->
        <div class="flex justify-center mb-1">
            <label for="toogleButton" class="flex items-center cursor-pointer">
                <div class="px-2 text-xs">タイマー</div>
            <!-- toggle -->
            <div class="relative">
              <input id="toogleButton" type="checkbox" class="hidden" @click="isShow = !isShow" />
              <!-- path -->
              <div
                class="toggle-path bg-light-blue w-9 h-5 rounded-full shadow-inner"
              ></div>
              <!-- crcle -->
              <div
                class="toggle-circle absolute w-3.5 h-3.5 bg-white rounded-full shadow"
              ></div>
            </div>
          </label>
        </div>
      <form name="timer">
        <div x-show="isShow" class="flex items-center justify-center mb-1">
          <input type="tel" value="10" maxlength="2" oninput="value = value.replace(/[^0-9]+/i,'');" class="bg-dark-black  border rounded w-11 py-1.5 px-3 text-natural shadow-lg border-white focus:border-white focus:ring focus:ring-white mx-1 font-thin text-sm">
          <p class="text-dark-black mr-1">:</p>
          <input type="tel" value="00" maxlength="2" oninput="value = value.replace(/[^0-9]+/i,'');" class="bg-dark-black  border rounded w-11 py-1.5 px-3 text-natural shadow-lg border-white focus:border-white focus:ring focus:ring-white font-thin text-sm">
          <%= button_tag type: "button", class: "rounded py-1 px-3 bg-dark-black text-natural mx-2 shadow-lg", onclick: "cntStart()" do %>
              <i class="fas fa-play fa-sm shadow-inner"></i>
          <% end %>
          <%= button_tag type: "button", class: "rounded py-1 px-3 bg-dark-black text-natural shadow-lg", onclick: "cntStop()" do %>
              <i class="fas fa-stop fa-sm shadow-inner"></i>
          <% end %>
        </div>
      </form>
    </div>
    <!-- body timer 終了 -->
    <!-- body form 開始 -->
    <div class="bg-white rounded px-4 pt-3 pb-4 mb-2">
        <div class="mb-4">
          <div class="flex justify-between">
            <div class="flex justify-start">
              <div class="text-sm text-dark-black mr-2">
                <i class="fas fa-chevron-right"></i>
              </div>
              <h1 class="text-sm text-dark-black">筆記開示</h1>
            </div>
            <%= button_tag type: 'submit', class: "text-2xl text-light-blue" do %>
              <i class="fab fa-telegram-plane"></i>
            <% end %>
          </div>
          <textarea class="bg-gray-50 border-white rounded-lg w-full pt-1 px-3 text-dark-black shadow-inner focus:border-white focus:ring focus:ring-white font-thin text-xs", placeholder="タイトル(最後に決めるのをおすすめします)"></textarea>
          <textarea class="bg-gray-50 border-white rounded-lg w-full h-48 pt-1 px-3 text-dark-black shadow-inner focus:border-white focus:ring focus:ring-white font-thin text-xs"></textarea>
          <div class="relative pt-1">
            <div class="overflow-hidden h-5 mb-4 text-xs flex rounded bg-indigo-100 shadow-inner">
              <div style="width:62%" class="shadow-inner flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-400"></div>
            </div>
            <span class="absolute right-0 text-dark-black font-thin text-xs">62％</span>
            <span class="absolute left-0 text-dark-black font-thin text-xs">282文字</span>
          </div>
        </div>
    </div>
    <!-- body form 終了 -->
    <!-- hooter開始 -->
    <%= render 'intros/index_hooter' %>
    <!-- hooter終了 -->
  </div>
</div>
