<div class="px-20">
  <%= form_with model: @soliloquy, local: true do |f|%>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="flex justify-between mb-5">
      <div class="flex justify-start">
        <%= render 'shared/back_button' %>
        <h1 class="text-4xl text-dark-black">つぶやき</h1>
      </div>
      <%= button_tag type: 'submit', class: "text-6xl text-light-blue" do %>
        <i class="fab fa-telegram-plane"></i>
      <% end %>
    </div>
    <%= f.text_field :text, class: "bg-white border-natural rounded-lg w-full pt-2 pb-64 py-2 text-dark-black shadow-inner focus:border-natural focus:ring focus:ring-natural placeholder-gray-300 font-thin", placeholder: "今、何を考えていますか" %>
  <% end %>
</div>
