<%= render 'shared/top_logo' %>
<%= render 'shared/flash_message' %>
<%= form_with url: login_path, method: :post do |f| %>
  <div class="flex-col mx-32">
    <%= f.text_field :email, class: 'text-center rounded-full w-full py-14 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far shadow-none', placeholder: "\uf0e0 Email"  %>
    <%= f.password_field :password, class: 'text-center rounded-full w-full py-14 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "Password" %>
    <%= f.submit 'Login', class: 'text-center rounded-full w-full py-14 bg-dark-black text-natural placeholder-gray-200 text-5xl font-thin' %>
  </div>
<% end %>
<div class="text-center mt-10">
  <%= link_to "サインアップはこちら", new_user_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
</div>
<div class="text-center mt-10">
  <%= link_to "ご案内はこちら", new_initial_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
</div>
