<div class="flex justify-center mt-28">
  <div class="bg-transparent">
    <%= image_tag 'logo_transparent.png', class: 'object-contain h-64 w-64' %>
  </div>
</div>

<%= render 'shared/flash_message' %>

<%= form_with url: login_path, method: :post do |f| %>
  <div class="flex-col">
    <%= f.text_field :email, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far shadow-none', placeholder: "\uf0e0 Email", autocomplete: 'off'  %>

    <%= f.password_field :password, class: 'text-center rounded-full w-9/12 py-14 ml-32 mb-12 bg-natural text-dark-black placeholder-gray-200 text-5xl border-natural shadow-sm focus:border-natural focus:ring focus:ring-natural focus:ring-opacity-50 far', placeholder: "Password", autocomplete: 'off'  %>

    <%= f.submit 'Login', class: 'text-center rounded-full w-9/12 py-14 ml-32 bg-dark-black text-natural placeholder-gray-200 text-5xl far' %>
  </div>
<% end %>

<div class="text-center mt-10">
  <%= link_to "サインアップはこちら", new_user_path, class: "text-2xl text-dark-black border-b-2 border-dark-black" %>
</div>

<style>
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s !important;
}
</style>
