<!DOCTYPE html>
<html>
  <head>
    <title>Mikke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body>
  <div class="w-full">
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/hooter' %>
  </div>
  </body>
</html>
