<!DOCTYPE html>
<html>
  <head>
    <title>Mikke</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <div class="w-full pb-64 lg:pb-0 bg-natural">
      <% if current_page?(intro_path) %>
        <%= yield %>
      <% elsif current_user %>
        <%= render 'shared/header' %>
        <%= yield %>
        <%= render 'shared/hooter' %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
